#tmenu {
    margin: -7px;
    margin-right: -9px;
    padding: 0px;
    max-width: 100.9%;
    height: 55px;
    background-color: bisque;
}

#tmenu ul {
    margin: 0px;
    padding: 0px;
}

#tmenu ul li {
    list-style: none;
    float: left;
}

#tmenu ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: black;
    padding: 0px 10px 0px 10px;
    margin-top: 6px;
    font-size: larger;
}